<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mock CAS Login</title>
</head>
<body>

<h1>Log In</h1>

<form method="post" action="/cas/login/submit">
    <label for="username">Username</label>
    <input name="username" id="username" required/>
    <input type="hidden" name="service" id="service" value="{{ service }}"/>
    <input type="submit" value="Log In">
</form>
</body>
</html>